.menu-hamburguer {
    text-decoration: none;
    color: #D3C1D2;
}

.material-symbols-outlined {
    text-align: left;
    padding: 2dvh;
}

.footer-home {
    background: #16001e;
    color: #D3C1D2;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    margin: 0;
}

.descricao-formulario {
    text-align: center;
    color: #16001e;
}

.responsive-navbar {
    background: #16001e;
}

.itens-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item-menu {
    padding: 10px;
    text-align: center;
}

.botao {
    padding: 2dvh;
    text-align: center;
    justify-content: center;
    width: fit-content;
    display:inline-block;
}

.botao-form {
    background-color: #D3C1D2;
    border: 0.3dvh solid #16001e;
    border-radius: 2dvh;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
    color: #16001e;
    cursor: pointer;
    display: inline-block;
    justify-self: center;
    padding: 1dvh 2dvh;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.4s, border-color 0.4s;
}

.botao-form:hover,
.botao-form:hover a {
    background-color: #16001e;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
    color: #D3C1D2;
}

.copyright {
    text-align: center;
    padding-bottom: 2dvh;
}    

.descricao {
    text-align: center;
    padding: 3dvh 2dvh 2dvh 2dvh;
}    

.form-externa {
    display: grid;
}    

.form-interna {
    justify-self: center;
    color: #16001e;
}

.textos-inputs {
    width: fit-content;
    justify-self: center;
    color: #16001e;
}

.opcoes-inputs {
    display: inline-flex;
    width: 60%;
}

.opcao {
    text-align: left;
}

.responsive-navbar {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: #D3C1D2;
    height: fit-content;
}

.responsive-navbar ul {
    display: none;
    flex-direction: column;
}

.titulo {
    font-weight: bold;
}        

#checkbox-dropdown-navbar-menu {
    display: none;
}

#checkbox-dropdown-navbar-menu:checked + ul {
    display: flex;
}

#label-dropdown-navbar-menu {
    text-align: right;
    user-select: none;
    cursor: pointer;
}

@media (max-width: 700px) {
    .botao-form {
        font-size: 4dvw;
    }
    .descricao-formulario {
        font-size: x-large;
        padding: 2dvh;
    }
    .copyright, .descricao {
        font-size: small;
    }            
    .form-externa {
        grid-template-columns: 1fr;
    }            
    .form-interna {
        padding: 2dvh;
        text-align: center;
    }
    .textos-inputs {
        padding: 3dvh;
    }           
    #enviar, #limpar {
        padding: 1dvh;
        font-size: small;
    }            
}                

@media (min-width: 701px) and (max-width: 1000px) {
    .botao-form {
        font-size: 2.5dvw;
    }
    .descricao-formulario {
        font-size: x-large;
        padding: 5dvh;
    }            
    .copyright, .descricao {
        font-size: small;
    }            
    .form-externa {
        grid-template-columns: repeat(2, 1fr);
    }
    .form-interna {
        padding: 5dvh;
        text-align: center;
    }
    .textos-inputs {
        padding: 5dvh;
    }
    .menu-hamburguer {
        font-size: larger;
    }
    #enviar, #limpar {
        font-size: medium;
    }            
}                

@media (min-width: 1001px) {
    .menu-hamburguer {
        font-size: larger;
    }
    .botao-form {
        font-size: 1.5dvw;
    }
    .descricao-formulario {
        margin-bottom: 10dvh;
    }            
    .copyright, .descricao {
        font-size: large;
    }            
    .form-externa {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 5dvh;
        gap: 10dvh;
    }            
    .form-interna {
        text-align: center;
    }            
    .responsive-navbar ul {
        display: flex;
        flex-direction: row;
    }
    .responsive-navbar li {
        flex-basis: 50%;
    }
    #enviar, #limpar {
        padding: 1dvh;
        font-size: large;
        margin-bottom: 5dvh;
    }            
    #label-dropdown-navbar-menu {
        display: none;
    }
}            
